<!DOCTYPE html>

<html >
    <head>
        <meta title="Angular Amigos Helpdesk">
        <meta charset="UTF-8">
        <!-- <base href="/"> -->

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
            <link href="{{ asset('bundles/helpdesk/css/font-awesome.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/helpdesk/css/angular-datatables.css') }}" type="text/css" rel="stylesheet" />
            <link type="text/css" rel="stylesheet" href="{{ asset('bundles/helpdesk/css/angular-flash.css') }}" />
            <link href="{{ asset('bundles/helpdesk/css/main.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

    <script>
        var userData = {
          'user': {{ app.user.roles|json_encode|raw }},
          'userName': '{{ app.user.username }}'
        };
    </script>
    </head>
    <body ng-app="helpdeskModule" ng-controller="MainController">
            {% block header %}
            {% endblock %}
            {% block sidebar %}
            {% endblock %}
            {% block main %}
            {% endblock %}
            {% block footer %}
            {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
            <script src="https:////cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

            <script src="https://code.angularjs.org/1.4.7/angular.js"></script>
            <script src="https://code.angularjs.org/1.4.7/angular-route.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.5.4/angular-datatables.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.5.4/plugins/light-columnfilter/angular-datatables.light-columnfilter.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.5.4/plugins/bootstrap/angular-datatables.bootstrap.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>

            <script src="{{ asset('bundles/helpdesk/js/libraries/angular-flash.js') }}"></script>
            <script src="{{ asset('bundles/helpdesk/js/libraries/angular-animate.js') }}"></script>
            <script src="{{ asset('bundles/helpdesk/js/libraries/ui-bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/helpdesk/js/app.js') }}"></script>
            <script src="{{ asset('bundles/helpdesk/js/controllers/categoriesController.js') }}"></script>
            <script src="{{ asset('bundles/helpdesk/js/controllers/usersController.js') }}"></script>
            <script src="{{ asset('bundles/helpdesk/js/controllers/unitsController.js') }}"></script>
            <script src="{{ asset('bundles/helpdesk/js/controllers/operatorsController.js') }}"></script>
            <script src="{{ asset('bundles/helpdesk/js/controllers/dashboardController.js') }}"></script>
            <script src="{{ asset('bundles/helpdesk/js/controllers/supportLinesController.js') }}"></script>
            <script src="{{ asset('bundles/helpdesk/js/controllers/settingsController.js') }}"></script>
            <script src="{{ asset('bundles/helpdesk/js/services.js') }}"></script>
            <script src="{{ asset('bundles/helpdesk/js/directives.js') }}"></script>
            <script src="{{ asset('bundles/helpdesk/js/filters.js') }}"></script>





        {% endblock %}
    </body>
</html>
